<head>
    <title></title>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="theme-color" content="#8e44ad">
    <meta name="description" content="وصف المنصة">
    
    <link rel="icon" href="/images/logo/icon.png">
    <link rel='stylesheet' type='text/css' href='/style/all.min.css'>
    <link rel='stylesheet' type='text/css' href='/style/bulma.css'>
    <link rel='stylesheet' type='text/css' href='/style/main.css'>
    <link rel='stylesheet' type='text/css' href='/style/customBulma.css'>
</head>