<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="/images/navlogo.png" alt="Logo">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
      
        <div class="navbar-menu" id="navbarMenu">
            <div class="navbar-end">
                <a class="navbar-item" wtpage="lectures" href="exams">Lecture & Assignments</a>
                <a class="navbar-item" wtpage="exams" href="exams">Exams</a>
                <a class="navbar-item" wtpage="dashboard" href="dashboard">Dashboard</a>
                <a class="navbar-item" wtpage="announcements" href="announcements">Announcements</a>
        
                <div class="navbar-item">
                    <div class="buttons">
                        <button class="button is-theme" href="#">Logout</button>
                        <a class="button is-theme is-outlined" href="NewComer">NewComer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>